.dart_tool/
node_modules/
__pycache__/
build/
coverage/
.venv/

.DS_Store

packages/**/pubspec.lock
packages/**/.dart_tool/
packages/**/rust/target/
packages/**/rust/Cargo.lock
benchmarks/**/pubspec.lock
benchmarks/**/.dart_tool/
target/
crates/**/target/
